$dark-blue-grey: #0b142c;
$deep-sky-blue: #176ffc;

$color-primary: #69577e;
$color-primary-bullet: $color-primary;
$color-primary-lighter: #00BEFF;

$color-secondary: #0E1124;

$gray-1: #f4f4f4;
$gray-2: #fafafa;

$footer-background: #EDEEEF;
