@import 'animation.scss';

.recipe {
  max-width: 360px;
  margin:auto;


  .header {
    min-height: 100vh;
    @include zoom-font(32px);
    .actions {
      position: fixed !important;
      display: flex;
    }

    img {
      width: 100%;
    }
  }
}
