.location {
  position: relative;
  height: 0;
  overflow: hidden;
  padding-bottom: 60%;

  @media (min-width: 768px) {
    padding-bottom: 30%;
  }

  & iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}
